.body {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.auth {
    margin-top: 125px;
}

.question2 {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.title {
    margin-top: 20px;
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
    color: #FFFFFF;
}

.btnvalidation {
    border-top: 1px solid black;
    width: 60rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
    height: 12rem;
    margin-bottom: 10rem;
}

.buttonContainer2 {
    height: 20rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    align-items: center;
}