.button {
    width: 400px;
    height: 70px;
    border-radius: 200px;
    border: 1px solid transparent;
    background: linear-gradient(#1C337F, #DF2A6B) padding-box, linear-gradient(#1C337F, #DF2A6B) border-box;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 20px;
    cursor: pointer;
}