.input {
    height: 20px;
    width: 344px;

    padding: 20px 25px;
    margin-top: 25px;

    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.01em;

    color: #ABAECA;

    border-radius: 200px;
    border: 1px solid transparent;
    background: linear-gradient(#1C1E33,#1C1E33) padding-box, linear-gradient(#1C337F, #DF2A6B) border-box;
}

.input::focus::placeholder {
    position: relative;
    top: -10px;
}